@model Cart
@if (Model.CartRows.Any())
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span> @Model.CartRows.Count() produkter
            <span class="caret"></span>
            </a>

            <ul class="dropdown-menu dropdown-cart" role="menu">
                @foreach (var row in Model.CartRows)
                {
                    <li>
                        <div class="item">
                            <span class="item-left">
                                <img src="http://via.placeholder.com/50x50" alt="@row.Product.Name" />
                                <span class="list-group-item-info">
                                    <span>
                                        @row.Quantity *
                                        @row.Product.Name
                                    </span>
                                    <span>a'@($"{row.Product.Price:C2}")</span>
                                </span>
                            </span>
                            <div class="item-right">
                                <form asp-action="RemoveFromCart"
                                      asp-controller="Cart"
                                      method="post">
                                    <input type="hidden" name="Id" value="@row.Product.Id" />
                                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQueryString()"/>
                                    <button type="submit" class="btn btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-trash"></i></button>
</form>
                            </div>
                        </div>
                    </li>
                }
                <li class="divider"></li>
                <li>
                    <span class="total pull-right">
                        Total: @($"{Model.GetCartTotal():C2}")
                    </span>
                 </li>
                <li><a class="text-center" asp-controller="Cart" asp-action="Index">Till Varukorgen</a></li>
            </ul>
        </li>
    </ul>
}